**
!.dockerignore
!Dockerfile.server
!Dockerfile.client
!client/**
!server/**
!plant_disease_app/**
!data/**

.git
**/node_modules
venv
__pycache__
**/__pycache__
client/dist
server/uploads
server/tmp
*.pyc
*.pyo
.env
server/.env
*.log
client/*.log
server/*.log
